// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$hr-gold:#FFD43B;
$hr-light:#f4f5fb;
$hr-green:#136E68;
$hr-green-app:#1b8f8d;
$hr-orange:#e6896a;
$hr-card:#EDF5F4;
$hr-confirm:#FA9583;
$hr-modal-background:#048482;
