@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.css';
// OverlayScrollbars
@import '~overlayscrollbars/styles/overlayscrollbars.css';
// iCheck
@import '~icheck-bootstrap/icheck-bootstrap.css';
// AdminLTE
//@import '../../vendor/almasaeed2010/adminlte/dist/css/adminlte.css';

@import '~owl.carousel/dist/assets/owl.carousel.css';
@import '~owl.carousel';
@import "~dropify/dist/css/dropify.min.css";
@import "~select2/dist/css/select2.css";
@import "~datatables.net-bs5";
@import "~datatables.net-buttons-bs5/css/buttons.bootstrap5.css";
@import "~datatables.net-responsive-bs5";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body {
    font-family: 'Sarabun', sans-serif !important;
    background-color: $hr-light !important;
}

.navbar-light {
    background-color: $hr-light !important;
}
[class*=sidebar-light-] {
    background-color: $hr-light !important;
}
.content-wrapper {
    background-color: $hr-light !important;
}
[class*=sidebar-light] .brand-link {
    color: $hr-light !important;
    background-color: $hr-green-app !important;
    border-bottom: 1px solid $hr-green-app !important;
}
[class*=sidebar-light-] .nav-sidebar>.nav-item>.nav-link.active {
    background: linear-gradient(270deg,#6a994e,#a7c957);
    border-radius: 0 50rem 50rem 0;
    margin-left: 0;
}
[class*=sidebar-light-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-light-] .nav-sidebar>.nav-item:hover>.nav-link {
    border-radius: 0 50rem 50rem 0;
    margin-left: 0;
}
[class*=sidebar-light-] .nav-flat .nav-item .nav-treeview>.nav-item>.nav-link, [class*=sidebar-light-] .nav-flat .nav-item .nav-treeview>.nav-item>.nav-link.active {
    border-radius: 0 50rem 50rem 0;
}
.form-control-sidebar {
    height: calc(2rem + 2px) !important;
}
.btn-sidebar {
    border-radius: 0 50rem 50rem 0 !important;
    line-height: 1 !important;
}
.nav-item>.nav-link {
    margin: 5px 0 5px 0;
}
.nav-link>p>.badge {
    top: 0.4rem !important;
}
.badge {
    padding: 0.5em 0.7em !important;
    font-size: .8em !important;
    font-weight: 500;
}
.badge-hr-menu {
    color: #fff;
    background-color: #ff4c51 !important;
    border-radius: 50rem !important;
}
.nav-header {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    line-height: normal;
    white-space: nowrap;
    width: 100%;
    //color: #b4b2b7 !important;
    color: white !important;
    font-size: .7rem !important;
}
.nav>.nav-header:before {
    margin-left: -1.25rem;
    margin-right: 0.5rem;
    width: 8%;
}
.nav>.nav-header:after {
    width: 90%;
}

.nav>.nav-header:after, .nav>.nav-header:before {
    background-color: rgba(58,53,65,.12);
    content: "";
    display: block;
    height: 1px;
}
[class*=sidebar-light] .btn-sidebar, [class*=sidebar-light] .form-control-sidebar {
    background-color: #ffffff !important;
}
.layout-navbar-fixed .wrapper .sidebar-dark-olive .brand-link:not([class*=navbar]) {
    background-color: $hr-green-app !important;
}
[class*=sidebar-dark-] .sidebar a {
    color: #ffffff !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: $hr-green-app !important;
}
.sidebar-dark-olive .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-olive .nav-sidebar>.nav-item>.nav-link.active {
    background-color: white !important;
    color: $hr-green-app !important;
    border : none;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
[class*=sidebar-light] .user-panel {
    border-bottom: unset !important;
    //border-top: 1px solid #dee2e6;
}
.user-panel img {
    //width: 3.1rem !important;
}

.form-check-input {
    position: unset !important;
    margin-left: unset !important;
}
.page-link {
    border: unset !important;
    padding: 0.2rem 0.5rem !important;
    border-radius: 50%;
}


.btn-hr-green {
    color: #fff !important;
    background-color: $hr-green !important;
    border-color: $hr-green !important;
    box-shadow: none;
}
.btn-hr-green-app {
    color: #fff !important;
    background-color: $hr-green-app !important;
    border-color: $hr-green-app !important;
    box-shadow: none;
}
//.form-control:focus {
//    border-color: #146e68 !important;
//}

.form-control:focus {
    border-color: $hr-green-app !important;
}

.btn-hr-orange {
    color: #fff !important;
    background-color: $hr-orange !important;
    border-color: $hr-orange !important;
    box-shadow: none;
}

.btn-hr-confirm {
    color: #fff !important;
    background-color: $hr-confirm !important;
    border-color: $hr-confirm !important;
    box-shadow: none;
}

.text-hr-orange {
    color: $hr-orange !important;
}

.text-hr-green {
    color: $hr-green !important;
}

.text-hr-green-app {
    color: $hr-green-app !important;
}

.bg-hr-green-app {
    background-color: $hr-green-app !important;
}

.bg-hr-card {
    background-color: $hr-card !important;
    color: $hr-green-app !important;
}

.h-100vh {
    min-height: calc(100vh - 50px);
}
.w-40 {
    width: 40% !important;
}
.w-60 {
    width: 60% !important;
}


.menu-button {
    display: inline-flex;
    align-items: stretch;
    border: none;
    min-height:80px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    transition: box-shadow 0.3s;
}

.menu-button:hover {
    border: 1px solid #60cac9;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}

.button-image {
    width: 5rem;
    background-size: cover;
    background-position: center;
}

.button-text {
    align-items: center;
    background-color: white;
    color: #4aa2a1;
    padding:  0.75rem;
    white-space: nowrap;
    transition: background-color 0.3s;
}

.menu-button:hover .button-text {
    background-color: #A1DDDB;
}

.menu-button.active .button-text {
    background-color: #A1DDDB;
}

.btn-outline-success  {
    color: $hr-green-app !important;
    border-color: $hr-green-app !important;
}
.btn-outline-success:hover {
    color: #fff !important;
    background-color: $hr-green-app !important;
    border-color: $hr-green-app !important;
}

.error {
    color: $hr-confirm !important;
}

.modal-dialog {
    top: 20%;
    width: 450px;
}

.modal-radius {
    border-radius: 1.5rem !important;
    border-color: none !important;
}

.modal-header-radius {
    border-radius: 1.5rem 1.5rem 0rem 0rem !important;
}

.background2 {
    background-color: $hr-modal-background !important;
    color: white
}

.button-footer {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 35px;
}

.button-footer .btn {
    width: 100%;
    height: 45px;
}

.modal-dialog .text-color {
    color: $hr-modal-background !important;
}

.input-modal {
    height: 45px;
    border: 1px solid #dddddd;
    font-size: 13px;
    font-weight: 500;
}

.test .position-main2 {
    position: absolute;
    top: 40%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1;
    color: #a5d8d8;
}

.test .position-main {
    position: absolute;
    top: 40%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 1;
}

.hhh .btn-edit {
    height: 40px;
    width: 40px;
    background-color: #77c6c5;
    border-color: #77c6c5;
}

.hhh .btn-delete {
    height: 40px;
    width: 40px;
    background-color: $hr-confirm;
    border-color: $hr-confirm;
}

.save-asset,
.save-category,
.btn-hr-confirm {
    border: none !important;
}

.modal-body .fa-newspaper,
.fa-th-list {
    color: $hr-confirm !important;
}

.hr-icon {
    color: $hr-confirm !important;
}

.hr-text-green{
    color: $hr-green!important;
}
<<<<<<< Updated upstream
.button-details {
    display: inline-flex;
    align-items: stretch;
    border: none;
    min-height: 80px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}
=======
>>>>>>> Stashed changes
