 /* color */
 :root {
    --color1: #77c6c5;
    --color2: #fa9583;
    --color3: #1b8f8d;
    --color4: #edf5f5;
    }
    div {
        color: var(--color3);
    }
    .btn-edit {
        background-color: var(--color1);
        border-color: var(--color1);
        color: white;
    }
    .btn-delete {
        background-color: var(--color2);
        border-color: var(--color2);
        color: white;
    }
    .btn-border {
        border-color: var(--color1);
        color: var(--color1);
    }
    .background{
        background-color: var(--color4);
    }
    .background2{
        background-color: var(--color3);
        color: white
    }
    .text-color {
        color: var(--color3);
    }
    .modal-radius {
        border-radius: 1.5rem;
        border-color: none;
    }
    .modal-header-radius {
        border-radius: 1.5rem 1.5rem 0rem 0rem;
    }